$base-pink: #f38181;
$base-white: #ffffff;
$base-yellow: #fce38a;
$base-dark: #333333;
$base-grey: #999999;
$base-green: #95e1d3;
$secondary-grey: #e7e7e7;
$lighter-grey: #cccccc;

$large-resolution: 192dpi;
$logo-size: 30px;
$team-section-width: 1210px;

$base-transition: 0.2s;
