.header {
  width: 100%;
  position: relative;
  background: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url("/assets/images/header-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 28px 0 230px;
  margin-bottom: 46px;

  @media (min-resolution: $large-resolution) {
    background: linear-gradient(
        to top,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url("/assets/images/header-bg@2x.jpg") no-repeat center;
  }

  &__burger-menu {
    z-index: 10;
    @media (min-width: 1366px) {
      display: none;
    }

    &:hover .burger-menu__icon {
      fill: $base-dark;
    }
  }

  &__sub-title {
    font-size: 72px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 42px;

    @media (max-width: 1366px) {
      font-size: 36px;
    }
  }

  &__title {
    font-size: 150px;
    font-weight: 700;
    text-align: center;
    width: 802px;
    text-transform: uppercase;
    margin: 0 auto 124px;

    @media (max-width: 1366px) {
      font-size: 60px;
      width: 100%;
      margin-bottom: 62px;
    }
  }

  &__button {
    font-size: 14px;
    font-weight: 700;
    padding: 15px 33px;
    border: 3px solid $base-white;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
  }
}
